body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
  font-family: Arial, sans-serif; /* Optional: sets a default font */
}

input, button {
  background-color: #333333; /* Darker shade for input fields and button */
  color: #ffffff;
  border: none;
  padding: 10px;
  margin: 5px 0;
}

button {
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

/* Styling for the login form container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
